<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="alert alert-danger mb-3 d-none"></div>
            <form>
                <div class="mb-3">
                    <label class="form-label">Username: </label>
                    <input type="text" name="username" required class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" required class="form-control">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector("form");
    const alert = document.querySelector(".alert")

    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const username = form.username.value;
        const password = form.password.value;

        try {
            const result = await fetch("/login", {
                method: "POST",
                body: JSON.stringify({
                    username,
                    password
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            const data = await result.json();
            if (data.error) {
                alert.classList.remove("d-none");
                alert.innerHTML = data.error;
            } else {
                alert.classList.add("d-none");
            }
            if (data.user) {
                location.assign("/");
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>