<div class="container">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Username: </label>
                    <input type="text" required name="username" class="form-control mb-2">
                    <div class="username alert alert-danger d-none"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" required name="password" class="form-control mb-2">
                    <div class="password alert alert-danger d-none"></div>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector("form");
    const usernameError = document.querySelector(".username.alert");
    const passwordError = document.querySelector(".password.alert");

    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const username = form.username.value;
        const password = form.password.value;

        try {
            const result = await fetch("/signup", {
                method: "POST",
                body: JSON.stringify({
                    username,
                    password
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            const data = await result.json();
            if (data.errors) {
                if (data.errors.username) {
                    usernameError.classList.remove("d-none");
                    usernameError.innerHTML = data.errors.username;
                } else {
                    usernameError.classList.add("d-none");
                }
                if (data.errors.password) {
                    passwordError.classList.remove("d-none");
                    passwordError.innerHTML = data.errors.password;
                } else {
                    passwordError.classList.add("d-none");
                }
            }
            if (data.user) {
                location.assign("/");
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>