<div class="container">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nama: </label>
                    <input type="text" required name="nama" class="form-control mb-2">
                    <div class="nama alert alert-danger d-none"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email: </label>
                    <input type="email" required name="email" class="form-control mb-2">
                    <div class="email alert alert-danger d-none"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" required name="password" class="form-control mb-2">
                    <div class="password alert alert-danger d-none"></div>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector("form");
    const namaError = document.querySelector(".nama.alert");
    const emailError = document.querySelector(".email.alert");
    const passwordError = document.querySelector(".password.alert");

    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const nama = form.nama.value;
        const email = form.email.value;
        const password = form.password.value;

        try {
            const result = await fetch("/signup", {
                method: "POST",
                body: JSON.stringify({
                    nama,
                    email,
                    password
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            const data = await result.json();
            if (data.errors) {
                if (data.errors.nama) {
                    namaError.classList.remove("d-none");
                    namaError.innerHTML = data.errors.nama;
                } else {
                    namaError.classList.add("d-none");
                }
                if (data.errors.email) {
                    emailError.classList.remove("d-none");
                    emailError.innerHTML = data.errors.email;
                } else {
                    emailError.classList.add("d-none");
                }
                if (data.errors.password) {
                    passwordError.classList.remove("d-none");
                    passwordError.innerHTML = data.errors.password;
                } else {
                    passwordError.classList.add("d-none");
                }
            }
            if (data.user) {
                location.assign("/");
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>