<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="d-flex align-items-center logo">
                        <h4 class="text-info">waniAEbro</h4>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/" class="<%= title == "Home" ? "active" : "" %>">Home</a></li>
                        <li><a href="/member" class="<%= title == "Member" ? "active" : "" %>">Member</a></li>
                        <li><a href="/user">Profile <img src="/assets/images/profile-header.jpg" alt=""></a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>