<div class="container">
    <section>
        <h5>Lagi Live</h5>
        <div class="row lagi_live">

        </div>
    </section>
    <section>
        <h5>List Member</h5>
        <div class="row profil">
        </div>
    </section>
</div>
<script src="js/profil.js"></script>