<div class="container">
    <video-js autoplay="autoplay" id=example-video width=960 height=540 class="vjs-default-skin" controls>
        <source src="https://hls-ull.showroom-cdn.com/4b72a1cf5044b4d16f4a288c1c6d65d6ffc44b305b248fe24343b6b80f38509e/low/chunklist.m3u8" type="application/x-mpegURL">
    </video-js>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/8.0.0-1/video.js" integrity="sha512-o///l2FBgUXBQgnlufCyebrYBqMOtTgu+wWPGAZf3sxzDWzziM37ZlXEisAT1oRCn5Bk6UP+edFRPX38id4tlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@videojs/http-streaming@3.0.0-2/dist/videojs-http-streaming.cjs.min.js"></script>
<script>
    var player = videojs('example-video', {
        autoplay: true
    });
</script>