<div class="container mb-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="main-banner mb-5">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h4><em>List</em> Showroom Member JKT48</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table text-white align-middle table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">room id</th>
                                    <th scope="col">nama</th>
                                    <th scope="col">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let number = 1; %>
                                <% members.forEach(member => { %>
                                <tr>
                                    <th scope="row"><%= number %></th>
                                    <td><%= member.info.room_id %></td>
                                    <td><%= member.info.main_name %></td>
                                    <td>
                                        <form class=" d-inline" action="/member/<%= member._id %>?_method=delete" method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% number++ %>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>