<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">room id</th>
                        <th scope="col">nama</th>
                    </tr>
                </thead>
                <tbody>
                    <% let number = 1; %>
                    <% members.forEach(member => { %>
                    <tr>
                        <th scope="row"><%= number %></th>
                        <td><%= member.info.room_id %></td>
                        <td><%= member.info.main_name %></td>
                    </tr>
                    <% number++ %>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const members = JSON.parse("<%= members.info %>");
</script>