<div class="container">
    <form action="/whatsapp" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nomor Whatsapp</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nomor">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>